/*-------------------------------- 
		Form Elements 
----------------------------------*/
input,
select,
textarea {
  background-color: var(--secondary-color-250);
  border: none;
  padding: var(--space-sm);
  border-radius: 5px;
}
